<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiQuanCafe.Properties.Settings.CafeInfoConnectionString"
            connectionString="Data Source=DESKTOP-UHLJDE3;Initial Catalog=CafeInfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>